<!-- <table *ngIf="transactions.length > 0">
  <thead>
    <tr>
      <th scope="col">
        Transaction Reference
      </th>
      <th scope="col">
        Errors
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <th scope="row">{{transaction.transactionReference}}</th>
      <td *ngIf="transaction.errors.length > 0">
        <ul>
          <li *ngFor="let error of transaction.errors">
            {{error.message}}
          </li>
        </ul>
      </td>
      <td *ngIf="transaction.errors.length === 0">
        No errors found.
      </td>
    </tr>
  </tbody>
</table> -->

<table mat-table [dataSource]="transactions">

  <!-- Transaction Reference Column -->
  <ng-container matColumnDef="transaction">
    <th mat-header-cell *matHeaderCellDef> Transaction Reference </th>
    <td mat-cell *matCellDef="let element"> {{element.transactionReference}} </td>
  </ng-container>

  <!-- ValidationError Column -->
  <ng-container matColumnDef="error">
    <th mat-header-cell *matHeaderCellDef> Validation Errors </th>
    <td mat-cell *matCellDef="let element">
      <mat-list>
        <mat-list-item *ngFor="let error of element.errors">
          <p class="alert alert-danger">{{error.message}}</p>
        </mat-list-item>
      </mat-list>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
