:host {
  .page-container {
    header {
      padding: 0 24px;
      height: 60px;
      width: 100%;
    }

    main {
      margin: 32px 24px;
      min-height: calc(100vh - 148px);
      box-sizing: border-box;
    }

    footer {
      padding: 16px 24px;
    }
  }
}
